p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-around;
}

.main-game-box {
    margin-top: 70px;
}

.word .char.selected {
    animation: selected-char 1.35s linear infinite;
}

.possible-words h3, word-suggestion h3 {
    line-height: 34px;
}

.possible-words {
    width: 120px;
    text-align: right;
    font-family: "Canela Text";
    clear: both;
    color: #ddd;
}

.possible-words * {
    display: block;
    float: none;
    clear: both;
}

.possible-words p.info {
    width: auto;
    transform: none;
}

.possible-words .possible {
    line-height: normal;
    margin: 5px 0;
}

.word-suggestion {
    width: 140px;
    font-family: "Canela Text";
    color: #ddd;
}

.word-suggestion h4 {
    line-height: 11px;
    display: flex;
    justify-content: space-between;
}

.word-suggestion h4 > * {
    border-bottom: 1px solid #6a6a6c;
    padding: 0 4px;
}

.word-suggestion p {
    font-size: inherit;
    line-height: inherit;
}


@keyframes selected-char {
    0% {
        border: 2px solid #4a4a4c;
    }
    50% {
        border: 2px solid #6a6a6c;
    }
    100% {
        border: 2px solid #4a4a4c;
    }
}
