body {
    background-color: #121213;
    /*min-height: 100vh;*/
    font-family: -apple-system,BlinkMacSystemFont,Roboto,sans-serif;
    color: #fff;
}

.chartCenter {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-50%, -50%);
    width: 350px;
}
.descCenter {
    position: absolute;
    top: 50%;
    left: 66%;
    transform: translate(-50%, -56%);
    width: 350px;
    color: #fff;
}

.chart {
    height: 430px;
}

.col {
    width: 66px;
    height: 100%;
    float: left;
    margin: 2px;
    
    display: flex;
    flex-flow: column-reverse;
}

.word {
    color: #fff;
    height: 66px;
}

p {
    font-size: 20px;
    float: left;
    line-height: 190%;
}

p.info {
    margin: 0;
    height: 66px;
    line-height: 360%;
    width: 0;
    white-space: nowrap;
    transform: translateX(10px);
}

.word p.char {
    width: 62px;
    height: 62px;
    font-size: 32px;
    text-transform: uppercase;
    margin: 2px;
    border: 2px solid #3a3a3c;
    text-align: center;
    font-weight: 700;
    border-radius: 2px;
    box-sizing: border-box;
}

.colorBox {
    height: 20px;
    width: 20px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 3px;
    /*background-color: #b59f3b;*/
}
